.markdown_show {
    font-size: 16px;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    color: #404040;
    font-family: "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;
    /*font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-feature-settings: "tnum";
    font-variant: tabular-nums;
    word-break: break-word;
    line-height: 1.6;
}

.markdown_show h1, h2, h3, h4, h5, h6 {
    color: #364938;
    -webkit-font-smoothing: antialiased;
}

.markdown_show a:link, a:hover, a:visited {
    text-decoration: none;
    color: #3eb581;
}

.markdown_show code {
    background: #fafbff;
    /*padding: 5px 15px;*/
    font-feature-settings: "tnum";
    font-variant: tabular-nums;
    font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.markdown_show pre {
    /*background: #fafbff;*/
    background: #2d2d2d;
    padding: 5px 15px;
    border-radius: 4px;
    word-wrap: normal;
    word-break: break-all;
    white-space: pre;
    /*overflow-x: scroll;*/
    overscroll-behavior-x: contain;
    line-height: 1.5;
}
.markdown_show pre code{
    background: #2d2d2d;
    color: #cccccc;
}
.markdown_show {
    line-height: 28px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.markdown_show table {
    width: 80%;
}

.markdown_show table, th, td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
    text-align: left;
}

.markdown_show td, th {
    padding: 8px 12px;
}

.markdown_show th {
    font-weight: bold;
    background-color:#f5f5f5;
}

